#hero {
	background-color: #0F0F1A;
}

#resume {
	background-color: #1A1A2B;
}

#projects {
	background-color: #1A1A2B;
}

#contact {
	background-color: #1A1A2B;
}

.subresume {
	background-color: #0F0F1A; 
	border-left: 3px solid #A78BFA;
}

.numone {
	background-color: #0F0F1A;
}

.cardone {
	background-color: #0F0F1A;
}

h1.fw-bold {
	color: #E5E7EB;
}

p.lead {
	color: #E5E7EB;
}

.card {
	  background-color: #0F0F1A;
	  border: 3px solid #A78BFA;
	  border-radius: 25px;
	  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
	  transform: translateY(-10px);
	  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}



.tech-badge {
	  font-size: 0.8rem;
	  margin-right: 5px;
	  background-color: #a78bfa;
	  color: #fff;
	  border-radius: 5px;
	  padding: 2px 6px;
}

.btn-custom {
	  background-color: #7c3aed;
	  color: #1a1a1a;
	  font-weight: bold;
}

.btn-custom:hover {
	  background-color: #ec4899;
	  color: #1a1a1a;
}

#contact .form-control {
  border-radius: 10px;
}

#contact i {
  transition: 0.3s;
}

#contact a:hover i {
  transform: translateY(-3px);
}
